<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td>フォロー数:<%= user.following.count  %></td>
        <td>フォロワー数:<%= user.followers.count  %></td>
        <td>
          <% if current_user.id != user.id  %>
            <% if current_user.following?(user)  %>
              <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),html: { method: :delete }, local: true) do |f| %>
                <%= f.submit "フォロー外す", class: "btn" %>
              <% end %>
            <% else  %>
              <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
                <div><%= hidden_field_tag :followed_id, user.id %></div>
                <%= f.submit "フォローする", class: "btn btn-primary" %>
              <% end  %>
            <% end  %>
          <% end  %>
        </td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
