<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.following.count, following_user_path(user)  %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user)  %></th>
  </tr>
</table>
<div class='row'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>

<% if current_user.id != user.id  %>
  <% if current_user.following?(user)  %>
    <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),html: { method: :delete }, local: true) do |f| %>
      <%= f.submit "フォロー外す", class: "btn" %>
    <% end %>
  <% else  %>
    <%= form_with(model: current_user.active_relationships.build, local: true) do |f| %>
      <div><%= hidden_field_tag :followed_id, user.id %></div>
      <%= f.submit "フォローする", class: "btn btn-primary" %>
    <% end  %>
  <% end  %>
<% end  %>